<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Complaint Portal</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <h1>Public Complaint Portal</h1>
        <nav>
            <ul>
                <li><a href="../public/index.html">Home</a></li>
                <li><a href="../public/user-login.html">User Login</a></li>
                <li><a href="../public/admin-login.html">Admin Login</a></li>
                <li><a href="../public/submit-complaint.html">Submit Complaint</a></li>
                <li><a href="../public/complaint-details.html">Complaint Details</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>